<!DOCTYPE html>
{% load i18n static %}
<html prefix="og: https://ogp.me/ns# article: https://ogp.me/ns/article# book: https://ogp.me/ns/book# profile: https://ogp.me/ns/profile# video: https://ogp.me/ns/video# "
      lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        WebQuills Site Builder
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if description %}<meta name="description" content="{{ description }}" />{% endif %}
    {% block css %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous" />
    {% endblock css %}
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body class="{% block body_class %}{% endblock body_class %}">
    <header class="page_header container">
      {% block header %}
        {% if request.user.is_authenticated %}TODO Insert application menu{% endif %}
      {% endblock header %}
    </header>
    <main role="main" class="container">
      {% block content %}
        MAIN CONTENT
      {% endblock content %}
    </main>
    {% block footer %}
      <footer class="page_footer container">
        TODO Insert footer content
      </footer>
    {% endblock footer %}
    {% block bootstrap_js %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
      </script>
    {% endblock bootstrap_js %}
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
