<!DOCTYPE html>
{% load django_bootstrap5 i18n static %}
<html prefix="og: https://ogp.me/ns# article: https://ogp.me/ns/article# book: https://ogp.me/ns/book# profile: https://ogp.me/ns/profile# video: https://ogp.me/ns/video# "
      lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        {# head_title block is for compat with allauth #}
        {% block head_title %}
          WebQuills Site Builder
        {% endblock head_title %}
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if description %}<meta name="description" content="{{ description }}" />{% endif %}
    {% block css %}
      {% bootstrap_css %}
    {% endblock css %}
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body class="{% block body_class %}{% endblock body_class %}">
    {% block body %}
      {# body block is for compat with allauth #}
      {% block header_outer %}
        {# Override to customize the header container #}
        <header class="page_header container">
          {% block header %}
            {% if request.user.is_authenticated %}
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="{% url 'home' %}">WebQuills Site Builder</a>
                  <div class="navbar-nav ms-auto">
                    <a class="btn btn-primary me-2" href="{% url 'profile' %}">Profile</a>
                    <a class="btn btn-outline-secondary" href="{% url 'account_logout' %}">{% trans "Sign out" %}</a>
                  </div>
                </div>
              </nav>
            {% else %}
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="{% url 'home' %}">WebQuills Site Builder</a>
                  <div class="navbar-nav ms-auto">
                    <a class="btn btn-outline-primary" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                    <a class="btn btn-primary ms-2" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                  </div>
                </div>
              </nav>
            {% endif %}
          {% endblock header %}
        </header>
      {% endblock header_outer %}
      {% block content_outer %}
        {# Override to customize the content container #}
        <main role="main" class="container">
          {% block precontent %}
            {% bootstrap_messages %}
          {% endblock precontent %}
          {% block content %}
            MAIN CONTENT
          {% endblock content %}
          {% block postcontent %}
          {% endblock postcontent %}
        </main>
      {% endblock content_outer %}
      {% block footer_outer %}
        {# Override to customize the footer container #}
        <footer class="page_footer container mt-5 mb-3 text-center border-top pt-3">
          {# footer block is for compat with allauth #}
          {% block footer %}
            <small>© Webquills</small>
          {% endblock footer %}
        </footer>
      {% endblock footer_outer %}
    {% endblock body %}
    {% block bootstrap_js %}
      {% bootstrap_javascript %}
    {% endblock bootstrap_js %}
    {% block extra_js %}
    {% endblock extra_js %}
    {% block extra_body %}
    {% endblock extra_body %}
  </body>
</html>
